:root {
  --purple: #8900ff;
  --light-red: #ff6666;
  --white: #ffffff;
  --off-white: #f0f0f0;
  --light-grey: #d9d9d9;
  --smokey-grey: #707070;
  --off-black: #202020;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--off-white);
  overflow: hidden;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--white);
  padding: 3rem;
  width: 50rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem 1rem 12rem 1rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

#form-btn {
  background-color: var(--purple);
  width: 6rem;
  height: 6rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  align-self: flex-end;
}

#form-btn::before {
  content: '';
  position: absolute;
  width: calc(100% - 6rem);
  margin-top: 1.25rem;
  left: 3rem;
  height: 0.125rem;
  background-color: var(--light-grey);
  z-index: -1;
}

#form-btn:hover {
  background-color: var(--off-black);
  color: var(--white);
}

#form-btn > img {
  width: 2.5rem;
}

.display-date {
  margin-bottom: 2rem;
}

.display-date > p {
  font-size: 6.25rem;
  font-weight: 800;
  font-style: italic;
  margin-bottom: -3rem;
}

.date {
  color: var(--purple);
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  gap: 1rem 2rem;
}

input {
  width: 9rem;
  height: 4rem;
  padding: 2rem 1rem;
  opacity: 1;
  border: solid var(--light-grey);
  border-radius: 0.5rem;
  font-weight: bolder;
  font-size: 2rem;
  cursor: pointer;
}

input:focus {
  border: solid var(--purple);
  outline: none;
}

label {
  color: var(--smokey-grey);
  font-size: 0.85rem;
  font-weight: bold;
  letter-spacing: 0.35rem;
  display: flex;
  flex-direction: column;
}

.label-text {
  margin-bottom: 0.45rem;
}

input::placeholder {
  opacity: 0.75;
}

label.error {
  color: var(--light-red);
}

input.error {
  border: solid 0.125rem var(--light-red);
}

.required-message {
  color: var(--light-red);
  font-style: italic;
  padding-top: 0.625rem;
}

@media only screen and (max-width: 600px) {
  .card {
    max-width: 90%;
    padding: 3rem 1.25rem;
    border-radius: 1rem 1rem 6rem 1rem;
    overflow: hidden;
    gap: 2rem;
  }

  #form-btn {
    width: 4rem;
    height: 4rem;
    align-self: center;
  }

  #form-btn > img {
    width: 1.75rem;
  }

  #form-btn::before {
    width: calc(100% - 3.5rem);
    left: 1.25rem;
    height: 0.125rem;
    background-color: var(--light-grey);
    z-index: -1;
    margin-top: 1rem;
  }

  .display-date > p {
    font-size: 3rem;
    margin-bottom: -1rem;
  }

  label {
    font-size: 0.75rem;
  }

  input {
    width: 5.75rem;
    font-size: 1.5rem;
  }

  form {
    justify-content: space-between;
    gap: 0.5rem;
  }

  input::placeholder {
    font-size: 1.25rem;
  }

  .display-date {
    margin-bottom: 0;
  }
}
