:root {
  --purple: #8900ff;
  --light-red: #ff6666;
  --white: #ffffff;
  --off-white: #f0f0f0;
  --light-grey: #d9d9d9;
  --smokey-grey: #707070;
  --off-black: #202020;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--off-white);
  overflow: hidden;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--white);
  padding: 3rem;
  width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 1rem 1rem 12rem 1rem;
  overflow: hidden;
}

hr {
  border: 0.0125rem solid var(--light-grey);
  width: 100%;
}

#form-btn {
  background-color: var(--purple);
  width: 7rem;
  height: 6rem;
  z-index: 1;
  align-self: flex-end;
  border: none;
  border-radius: 3.5rem;
  cursor: pointer;
}

#form-btn:hover {
  background-color: var(--off-black);
  color: var(--white);
}

#form-btn > img {
  width: 3rem;
}

.btn-wrapper {
  display: flex;
  align-items: center;
}

.display-date {
  margin-bottom: 2rem;
}

.display-date > p {
  font-size: 6.25rem;
  font-weight: 800;
  font-style: italic;
  margin-bottom: -3rem;
}

.date {
  color: var(--purple);
}

form {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  gap: 1rem 2rem;
}

input {
  width: 9rem;
  height: 4rem;
  padding: 2rem 1rem;
  opacity: 1;
  border: solid var(--light-grey);
  border-radius: 0.5rem;
  font-weight: bolder;
  font-size: 2rem;
  text-align: left;
}

input:focus {
  border: solid var(--purple);
  outline: none;
}

label {
  color: var(--smokey-grey);
  font-size: 0.85rem;
  font-weight: bold;
  letter-spacing: 0.35rem;
  display: flex;
  flex-direction: column;
}

.label-text {
  margin-bottom: 0.45rem;
}

input::placeholder {
  opacity: 0.75;
}

label.error {
  color: var(--light-red);
}

input.error {
  border: solid 0.125rem var(--light-red);
}

.required-message {
  color: var(--light-red);
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  .card {
    max-width: 90%;
    padding: 1.5rem;
  }

  .btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #form-btn {
    width: 5rem;
    height: 5rem;
    margin-top: -2.5rem;
    align-self: center;
  }

  .display-date > p {
    font-size: 3rem;
    margin-bottom: 0.25rem;
  }

  label {
    font-size: 0.75rem;
  }

  input {
    width: 5.25rem;
    height: 1.5rem;
    font-size: 1.5rem;
  }

  form {
    gap: 1rem;
    padding: 0;
    margin-bottom: 4.5rem;
  }
}
